@font-face {
    font-family: 'weblySleek';
    src: url('../fonts/weblysleekuil.ttf');
}

@media screen and (max-width: 1050px) {
	#features img {
		max-width: 125px !important;
	}
	
	h1 {
		font-size: 42px !important;
	}
	
	h2 {
		font-size: 36px !important;
	}
	
	h3 {
		font-size: 34px !important;
	}
	
	p {
		font-size: 18px !important;
	}
	
	#about h1, #about p, #about a {
		margin-left: 150px !important;
	}
	
	#phone {
		max-width: 150px !important;
	}
	
	#vootlogo {
		max-width: 150px !important;
	}
}



@media (max-width:768px) {
	nav {
		display: none;
	}
	#about h1, #about p, #about a {
		margin-left: 100px;
	}
	
	#phone {
		display: none !important;
	}
	
	#vootlogo {
		display: none !important;
	}
	
	#features img {
		max-width: 75px !important;
	}
}

@media (max-width:480px){
	#features img {
		max-width: 50px !important;
	}

}

/* main */
body,html {
	padding: 0;
	margin: 0;
	font-family: "weblySleek", Helvetica, Arial, Verdana, sans-serif !important;
	font-size: 14px;
	min-width: 650px !important;   
}

h1 {
	font-size: 5em;
	font-family: arial,helvetica;
	margin:0;
	padding:0;
}

h2 {
	font-size: 3.5em;
	margin: 0 0 18px 0;
	font-family: arial,helvetica;
}

h3 {
	font-size: 2.5em;
}

h3 small {
	color: white;
	font-family: 'weblySleek';
}

br {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* navbar */
nav  {
	position: fixed;
	background-color: black !important;
	font-weight: 500 !important;
	font-size: 22px !important;
    line-height: 60px !important;
    height: 60px !important;
	min-width: 100%;
    padding-top: 0;
	font-family: 'weblySleek';
}

/* animations */
.anim {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: zoomIn 1s;
    animation: zoomIn 1s;
}

.flip {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: flipInX 2s;
    animation: flipInX 2s;
}

#downloads img {
	max-width: 100px;
	height: auto;
}

#features img:hover, #downloads img:hover, #contact img:hover {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: pulse 2s;
    animation: pulse 2s;
}

/* sliders */
.homesliders h2, .homesliders p {
	z-index: 99;
}

.homesliders img {
	z-index: -99;
}

.slide img {
	z-index: -9999;
	width: 100%;
	height: auto;
}

.navbar-trans li > a:hover, .navbar-trans li > a:focus, .navbar-trans li.active {
	background-color: grey !important;
}

.navbar-trans {
    background-color: #308BE1;
}

.navbar-trans a{
    color: #fefefe !important;
}

.navbar-trans li {
	white-space: nowrap;
}

.navbar-header span {
	color: black;
}

.navbar-nav.nav-justified > li {
    float: none;
}

.nav-justified {
	position: relative;
	left: 10%;
	right: 10%;
	max-width: 80%;
	display: inline-block;
}

/* sections */
#section0, #section1, #section2, #section3 {
    background-size: cover;
}

.section {
	text-align:center;
	overflow:hidden;
}

/* About */
#about h1:first-child, #about p {
	text-align: justify;
}

#about p{
	font-weight: 100 !important;
}

#phone {
	position: relative;
	margin-top: -50px;
	margin-left: 150px;
	width: 250px;
	height: auto;
}

#vootlogo {
	margin-left: 50px;
	max-width: 350px;
	height: auto;
}

#slide2 a {
	min-width: 100px;
}
/* Features */
#features {
}

#features .row {
	margin-top: 60px;
}

#features .slide {
	margin-top: -150px;
}

#features h2, #features p {
	position: relative;
	left: 15%;
	max-width: 70%;
}

#features img {
	max-width: 150px;
	height: auto;
}

/* Downloads */
#downloads {

}

#downloads img {
	height: 100px;
	width: auto;
	cursor: pointer;
}

/* Exchanges */
#exchanges {

}

/* Contact */
#contact {

}

#contact img {
	cursor: pointer;
}

/* Sign up */
#signup {
	position: relative;
	margin-bottom: 0px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 5px;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}